html {
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
  browser-width: 600px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.header {
	background-color: #CC4747;
	text-align: center;
	color: #fff;
}

h1 {
	text-shadow: #910A0A 2px 2px 2px;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	position: absolute;
	left: 0;
	margin: 0;
	top: 10px;
}

small {
	font-size: 0.8rem;
	display: block;
}

.medallion {
	width: 80px;
	margin: 1em;
}

.top-left {
	float: left;
}

.top-right {
	float: right;
}

nav {
	background-color: #0D0D0D;
}

nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	width: 50%;
	border: 1px solid #000;
	background-color: #0D0D0D;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	background-color: #0D0D0D;
	padding: 0.5em;
	margin: 0;
}

.p1 {
	padding: 1em;
	padding-bottom: 1em;
	font-style: normal;
}

.banner {
	width: 100%;
}

.div-banner {
	position: relative;
	clear: both;
}

h2 {
	position: absolute;
	bottom: 0.3em;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	text-shadow: #222 2px 2px 2px;
	font-style: italic;
	width: 100%;
}

.left {
	float: left;
	width: 50%;
	padding-bottom: 1em;
}

.right {
	float: right;
	width: 50%;
	padding-bottom: 1em;
}

h3 {
	margin: 0;
	padding: 1em 0 1em 0;
	font-size: 2em;
	font-weight: bolder;
}

p {
	margin: 0;
	padding-bottom: 2em;
	font-style: italic;
	font-size: 1em;
}

.dragon {
	background-color: #E8DA7B;
	text-align: center;
}

.goat {
	background-color: #CC4747;
	text-align: center;
}

.rooster {
	background-color: #E8DA7B;;
	text-align: center;
}

.ox {
	background-color: #CC4747;
	text-align: center;
}

aside {
	background-color: ##0D0D0D;
	text-align: center;
	padding-top: 2em;
}
